
body {
    background-color: #091413;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    padding: 30px;
    color: white;
}

form {
    background-color: #285A48;
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 40%;

    padding: 30px;
    font-size: 25px;
}

form > button, a > button {
    border: none;
	padding: 0;
    cursor: pointer;
	outline: inherit;

    background-color: rgb(55, 156, 122);

    font-family: inherit;
    font-size: 15px;
    font-weight: 500;
    padding: 15px;
    font-size: 20px;

    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.2s ease, transform 0.2s ease;
}

a > button {
    margin-top: 10px;
}

form > button:hover, a > button:hover {
    background-color: rgb(31, 104, 79);
    color: white;
    font-weight: 700;
}

label {
    display: flex;
    align-items: center;
    justify-content: space-between;  
}

label > input {
    font-size: 25px;
    font-family: inherit;
    padding: 10px 30px 10px 30px;
}

.alerts-container {
    display: flex;

    margin-bottom: 20px;
    font-size: 20px;
    padding: 10px 100px 10px 100px;
    background-color: #285A48;
}